.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hidden {
  display: none;
}

@media only screen and (max-width: 650px) {
  .caritem {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 2.4rem;
    padding-left: 1.2rem;
  }
  .details {
    width: 100%;
  }
  span::before {
    display: none;
  }
  .nothidden {
    display: none;
  }
  .hidden {
    display: contents;
  }
}
