.container {
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}
.main {
  display: flex;
  
  margin: 3vh 4rem;
  justify-content: space-between;
}
@media only screen and (max-width: 650px) {
  .main {
    flex-direction: column;
    gap: 2rem;
  }
}
