@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
html {
  overflow: hidden;
}
body {
  overflow: hidden;
  color: whitesmoke;
  background-color: black;
  height: 100vh;
}
#container {
  background-image: url("/public/images/default.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carousel-indicators {
  position: absolute;
  margin: 0 0;
  bottom: -10px;
  gap: 0.5rem;
}
.carousel-indicators [data-bs-target] {
  width: 10rem;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: space-evenly;
  gap: 0;
}
a span {
  animation: none;
}
#day .carousel-inner {
  width: 15.5rem;
}
.carousel-control-prev {
  left: -3rem;
}
.carousel-control-next {
  right: -1rem;
}
