@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
}
html{
   
    overflow: hidden;
}
body{
  overflow: hidden;
  color: whitesmoke;
  background-image: url("/public/images/default.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#container {
  background-image: url("/public/images/default.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.carousel-control-next{
  right: -25px;
}
.carousel-control-prev{
  left: -70px;
}
.carousel-indicators{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  bottom: -10px;
  gap:0.5rem;
}
.Info_hidden__XARir .carousel-indicators [data-bs-target]{
  width: 10rem;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
  display: flex;
  justify-content: center;
  gap:0
}
 .Dayscarousel_hidden__SVPHG span{
  animation: none;
}
.carousel{
  padding: 0;
  width: 100%;
}
.Dayscarousel_hidden__SVPHG a.carousel-control-next{
  margin-right: 3rem;

}
.Dayscarousel_hidden__SVPHG a.carousel-control-prev{
  margin-left: 3rem;

}
div.active.carousel-item{
  width: 100%;
  margin: 0;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  bottom: 1rem;
}